<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./attendance.css">
</head>
<body>
    <fieldset id="fld" width="250px">
        <div class="info" height="100">
            <label id="imgText"><img src="./school.png" width="72">
            <h3>경북소프트웨어 마이스터고 온라인 점호</h3></label>
            <input type="text" id="userId" placeholder="아이디" size="41">
            <input type="password" id="userPw" placeholder="비밀번호" size="41">
            <button id="btn"><label id="btnText"><b>로그인</b></label></button>
        </div>
        <div class="school">
            <img src="./schoolview.png" class="img" width="500" height="500" align="right">
        </div>
    </fieldset>
</body>
<script src="./attendance.js"></script>
</html>