<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/teacher.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <label id="title"><h1>기숙사</h1></label>
            <select id="floor">
                <option>2층</option>
                <option>3층</option>
                <option>4층</option>
            </select>
        </div>
        <div>
            <fieldset class="ui">

            </fieldset>
        </div>
    </div>
</body>
</html>