#text{
    text-align: center;
}
#btn{
    margin-left: 620px;
    width: 250px;
	border-radius: 50%;
    height: 250px;
    border: none;
    text-align: center;
}
#btn:hover{
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}
.check{
    margin-top: 150px;
}
#btnText{
    font-size: 30px;
}